/* COLOR PALETTE: Mermaid Lagoon Theme from Canva*/
/*  
midnight blue: #145DA0;
drak blue: #0C2D48;
blue: #2E8BC0;
baby blue: #B1D4E0;
off-white: #f6f6f6
light grey: #d3d4d6
*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Global Styles 
------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*sets default to 10px using rem*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100%;

  }

body {
   background-color: #f6f6f6; 
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   line-height: 1.4;
   /* text-align: justify; */
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    /* font-weight: 400; */
    margin-bottom: 20px;

}

h1 {
    font-size: 7rem;
    line-height: 1;
}

h2{
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

/* Links */

a {
    color: #145DA0;
}

a:hover {
   color: #0C2D48; 
   text-decoration: none;
}

footer a {
    /* text-decoration: none; */
    color: #d3d4d6;
}

footer a:hover {
    /* text-decoration: none; */
    color: #B1D4E0;
    text-decoration: none;
}

.btn {
    background: #0C2D48;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 4px;
}

.btn:hover {
    background: #0C2D48;
    color: #B1D4E0;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;

}

/* Home 
------------------------------------------*/
.home {
    background-image: url(../images/bg-home-office-studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* Use to make the background opaque */
.home .content-wrapper {
    flex: 1 0 auto;

}
.content-bg {
    background: rgb(255 255 255 / 0.7);
    padding: 30px;
}


/* Resume 
------------------------------------------*/
/* creates element before the header to display the background image first */
.resume header::before{
    background-image: url(../images/bg-home-office-studio.jpg);
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    height: 375px;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;

}
/* Profile 
------------------------------------------*/

/* Projects 
------------------------------------------*/

/* Work Experience 
------------------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 350px 2fr;
    column-gap: 20px;
}
.work-details p {
    margin: 0;
}

/* .work-summary p:first-child {
    margin-top: 0;
} */

/* Education 
------------------------------------------*/
.edu-item h3 {
    margin: 0;
}

.edu-item p {
    margin: 0;
}

.uiw {
    margin-top: 20px;
}

/* Footer 
------------------------------------------*/
footer {
    background: #0C2D48;
    color: #d3d4d6;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}